<app-user-add (updatedData)="onUpdatedData()"></app-user-add>
<table class="table_tag">
    <tr><th *ngFor="let head of header">{{head}}</th></tr>
    <tr *ngFor="let data of userData">
        <td><input type="text" name="firstName" [value]="data.first_name" disabled></td>
        <td><input type="text" name="middleName" [value]="data.middle_name" disabled></td>
        <td><input type="text" name="lastName" [value]="data.last_name" disabled></td>
        <td><input type="email" name="email" [value]="data.email" disabled></td>
        <td><input type="number" name="phoneNumber" [value]="data.phone_number" disabled></td>
        <td><input type="text" name="role" [value]="data.role" disabled></td>
        <td><input type="text" name="address" [value]="data.address" disabled></td>
        <td><input type="text" name="createdDate" [value]="data.created_date | dateformat" disabled></td>
        <td>
            <input type="button" class="btn" (click)="saveEnable ? onSave($event,data) : onEdit($event)" value="Edit">
            <input type="button" class="btn-danger" (click)="saveEnable ? onCancel($event) : onDelete(data)" value="Delete">
        </td>
    </tr>
</table>