.table_tag{
    display:revert;
    width: 100%;
    border: 2px solid;
    border-radius: 10px;
    border-color: darkgray;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 5px 2px gainsboro;
    border-collapse: separate;
    border-spacing: 0 1em;
}
.table_tag tr{
    border-bottom: 2px solid;
}
.table_tag th{
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.table_tag td{
    text-align: center;
    font-size: 1em;
    /* box-sizing: border-box; */
    
}
td input{
    height: 30px;
    font-size: 1em;
    background-color: white;
    
}
.btn{
    margin-right: 10px;
    background-color: dodgerblue !important;
    color: white;
    border-radius: 12px;
}
.btn-danger{
    background-color: coral !important;
    border-radius: 12px;
}