<form class="input_tag" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div>
        <input type="text" placeholder="First Name" required formControlName="firstName" />
        <p *ngIf="!addUserForm.get('firstName')?.valid && addUserForm.get('firstName')?.touched">This field is required!</p>
    </div>
    <div>
        <input type="text" placeholder="Middle Name" formControlName="middleName" />
    </div>
    <div>
        <input type="text" placeholder="Last Name" required formControlName="lastName" />
        <p *ngIf="!addUserForm.get('lastName')?.valid && addUserForm.get('lastName')?.touched">This field is required!</p>
    </div>
    <div>
        <input type="email" placeholder="Email" required formControlName="email" />
        <p *ngIf="!addUserForm.get('email')?.valid && addUserForm.get('email')?.touched">Please enter a valid email!</p>
    </div>
    <div>
        <input type="number" placeholder="Phone Number" required formControlName="phoneNumber" />
        <p *ngIf="!addUserForm.get('phoneNumber')?.valid && addUserForm.get('phoneNumber')?.touched">This field is required!</p>
    </div>
    <div>
        <input type="text" placeholder="Role" required formControlName="role" />
        <div>
            <p *ngIf="!addUserForm.get('role')?.valid && addUserForm.get('role')?.touched">Please choose from given role:</p>
            <p *ngIf="!addUserForm.get('role')?.valid && addUserForm.get('role')?.touched">SuperAdmin , Admin , Subscriber</p>
        </div>
    </div>
    <div>
        <input type="text" placeholder="Address" required formControlName="address" />
        <p *ngIf="!addUserForm.get('address')?.valid && addUserForm.get('address')?.touched">This field is required!</p>
    </div>
    <div>
        <input type="submit" class="btn" value="Add User"/>
        <p *ngIf="!addUserForm?.valid && addButtonClicked">Please Enter the valid data!</p>
    </div>
</form>

